@model BasketballService.Models.Player

<h1>@Model.PlayerName</h1>
<h6>@Model.PlayerSurname</h6>


<img style="height:300px" src="../../Content/Teams/Lakers.png" />



STRONA POJEDYNCZEGO PLAYERA

@*<a href="@Url.Action("Delete", "Teams" , new { id = Model.TeamId })">DELETE TEAM</a>*@