@model IEnumerable<BasketballService.Models.Player>
@*i am using IEnumarable type, it gonna be List, which can be used by Foreach*@


    <div>
    <div id="zawodnicy">
      <div class="player naglowekplay">Zawodnicy</div>
      @foreach (var player in Model)
      {
      <div class="player">@player.PlayerName @player.PlayerSurname, pozycja:          @player.PlayerPosition</div>
      }

    </div>
    </div>
