@model BasketballService.Models.Team


<div id="layoutt">
  <div id="klub">
    <div id="nazwa_klubu2">
        <h1>@Model.TeamName</h1>
    </div>
    <div id="info2">
      <img style="height:300px" src="../../Content/Teams/@(Model.NameOfLogoFile).png" />
      <span>
        <h4>@Model.TeamDescription</h4>
    </p>
    </span>
    </div>

    <div>
        @*Here I call [ChildActionOnly] action in controller which will return PartialView*@
        @*argument is a TeamId, because i am looking for players with this special atribute*@
        @Html.Action("PlayersList", new { id = Model.TeamId })

    </div>
  </div>
</div>
